<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <style>
      body {
        font-family: "Roboto";
        margin: 0px;
      }
      a {
        color: #26a69a;
      }
    </style>

    <title>Seminar Roulette</title>

    <link
      rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  </head>

  <body>
    <div id="root">
      <!-- React loads here -->
    </div>
  </body>

  <script src="{% static 'main.js' %}"></script>
</html>
