asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Django==3.1.2
django-environ==0.4.5
django-filter==2.4.0
django-watson==1.5.5
djangorestframework==3.12.1
eventbrite==3.3.5
idna==2.10
isort==5.6.4
joblib==1.0.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nltk==3.5
numpy==1.19.4
pandas==1.1.4
psycopg2-binary==2.8.6
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.11.13
requests==2.24.0
scipy==1.5.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
tqdm==4.54.1
typed-ast==1.4.1
urllib3==1.25.11
wrapt==1.12.1
yapf==0.30.0
